extends ../_layout
include ../_mixins/_aside
block scripts                     
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.js")
    script(src="/libs/moment/moment.js")
    script(src="/static/js/format-date.js") 
    script(src="/static/js/latest.js")    
    script(src="/static/js/popular.js") 
    script(src="/static/js/destinations.js") 

block container  
    .all-destinations.container
        .row
            .col-md-3.col-md-offset-1
                +asides
            .col-md-8
                each item in model
                    .destinations-container
                        h3.text-center
                            a(href="/destinations/" + item._id) #{item.destination}
                        .row
                            .col-md-12
                                h4.text-center Publications about #{item.destination}
                            each element in item.publications
                                .publications-container-info.col-md-6
                                    div
                                        img(src="../../static/images/" + element.image, alt="image")
                                    .text-center
                                        .date-postBy
                                            span.date #{element.date}
                                            span | 
                                            span.post-by posted by #{element.publisher} 
                                        div
                                            a(href="/publications/" + element._id) #{element.title}
                            .col-md-12
                                h4.text-center Guides about #{item.destination}